<div style ="  border-radius: 25px;
/* background: url(paper.gif); */
background-color: aquamarine;
background-position: left top;
background-repeat: repeat;
padding: 20px;
width: 500px;
height: 300px;">
<input type="text" #box placeholder="enter question here" name="question" style=" width: 100%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;">
<div class="button-loader-container">
<button class="button-36" role="button" (click)="SubmitQuestion(box.value)">Ask Question</button>
<div *ngIf="loading"  class="loader"></div>
</div>
<textarea placeholder="answer will appear here" rows="20" name="comment[text]" id="txtQuestion" cols="40" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" [(ngModel)]="textareaValue"></textarea>

</div>


